<!doctype html>
<html lang="en" ng-app="memberApp">
<head>
  <meta charset="utf-8">
  <title>Sample Demo</title>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/services.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
</head>
<body ng-controller="MemberListCtrl">

  <h3 align="center">Welcome, {{ name }}!</h3>
  <div class="container-fluid">
      <div align="center">
        Type in Member's Name: <input type="text" ng-model="textvalue">
        <button class="btn btn-default navbar-btn" ng-click="getMemberList(textvalue)">Search</button> 
      </div>

      <div>
        <table class="table">
          <tr>
            <td class="col-md-1"><strong>ID</strong></td>
            <td class="col-md-2"><strong>Member Name</strong></td>
            <td class="col-md-2"><strong>Date-of-birth</strong></td>
          </tr>
          <tbody ng-repeat="member in filteredmembers">
            <tr>
              <td class="col-md-1">{{member.id}}</td>
              <td class="col-md-2">{{member.last_name}}, {{member.first_name}}</td>
              <td class="col-md-2">{{member.dob}}</td>
            </tr>
          </tbody>
        </table>
     </div>
 
  </div>
  

</body>
</html>
